<!-- Esto es un comentario -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
  <title>Mi app angular</title>
</head>
<body>
  <h1>Hola mundo</h1>
  <table border="1">
    <tr>
      <th>Productos</th>
      <th>Precios</th>
      <th>Cantidad</th>
    </tr>
    <tr>
      <td>Productos</td>
      <td>Precios</td>
      <td>Cantidad</td>
    </tr>
    <tr>
      <td><button>Comprar</button></td>
      <td><button>Procesar</button></td>
      <td><button>Enviar</button></td>
    </tr>
  </table>
  <br>
  <h3>Mi formulario</h3>
  <form>
    <input type="text" placeholder="Nombre"> <br>
    <input type="password"> <br>
    <input type="submit">
  </form>
  <div class="padre">
    <div class="hijo hijo1"></div>
    <div class="hijo hijo2"></div>
  </div>
</body>
</html>
<router-outlet />
